/*@import "tailwindcss";
@theme{
    --breakpoint-sm:700px;
    --breakpoint-md:900px;
    --breakpoint-lg:1000px;
    --breakpoint-big:800px;
}
@custom-varient dark (&:where(.dark, .dark*));
.box {
    background-color: yellow;
    padding: 20px;
    border-radius: 10px;
}
@theme{
    --padding-10:100px;
    --padding-2:50px;
    --margin-1:50px
    --padding-class-50:50px;
    --padding-wrapper:50px;
    --margin-m:30px;
    --height-1:50px;

}*/

@import "tailwindcss";
/*@layer base {
    h1 {
        font-size: 50px;
    }
    h2{
        font-size: 30px;
    }
    h3{
        font-size: 20px;
    }
    button{
        border:1px solid #999;
        padding:3px
    }
}
@layer base {
  h1 {
    @apply text-9xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
  
    @apply text-5xl;
  }
  button {
    @apply border;
  }
}
@layer components{
    .btn-primary{
        @apply bg-blue-500 rounded text-white p-2 hover:bg-blue-700
    }
}*/
;

@layer component{
    .btn{
        @apply border border-slate-400 rounded px-5 py-1.5 hover:bg-slate-500
    }
    .btn-primary{
        @apply bg-blue-500 hover:bg-blue-400 text-white border border-blue-500
    }
    .btn-secondary{
        @apply bg-slate-500 hover:bg-slate-900 text-white border border-slate-500
    }
    .btn-sucesss{
        @apply bg-green-500 hover:bg-green-900 text-white border-green-100
    }
}
@theme {
  --spacing-custom: 32px;
}

.custom-container {
  @apply bg-green-500;
}

/* Medium screen */
@media screen and (min-width: 768px) {
  .custom-container {
    padding: var(--spacing-custom);
  }
}
.G{
    @apply 
        w-80
        hover:scale-110
        rounded border-2 
        border-blue-300 hover:border-blue-300
        transition duration-1000 hover:brightness-125
}