@import "tailwindcss";
/*@theme{
    --breakpoint-sm:700px;
    --breakpoint-md:900px;
    --breakpoint-lg:1000px;
    --breakpoint-big:800px;
}*/
.box {
    background-color: yellow;
    padding: 20px;
    border-radius: 10px;
}
